### We have to import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

### Import the dataset

In [2]:
Health_Insurance_Cost = pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\Project\insurance.csv")
print(Health_Insurance_Cost)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### show First 5 row form top

In [3]:
Health_Insurance_Cost.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### show Last 5 row form top

In [4]:
Health_Insurance_Cost.tail(5)

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [5]:
Health_Insurance_Cost.shape

(1338, 7)

In [6]:
Health_Insurance_Cost.ndim

2

In [7]:
Health_Insurance_Cost.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [8]:
Health_Insurance_Cost.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [9]:
Health_Insurance_Cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [10]:
Health_Insurance_Cost.nunique()

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

In [11]:
Health_Insurance_Cost.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [12]:
Health_Insurance_Cost.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [13]:
Health_Insurance_Cost['sex'].unique()

array(['female', 'male'], dtype=object)

In [14]:
Health_Insurance_Cost['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [19]:
Health_Insurance_Cost.pivot_table(index=['sex','smoker','region'],values='bmi',aggfunc='mean')

                               bmi
sex    smoker region
female no     northeast  29.777462
              northwest  29.488704
              southeast  32.780000
              southwest  30.050355
       yes    northeast  27.261724
              northwest  28.296897
              southeast  32.251389
              southwest  30.128571
male   no     northeast  28.861760
              northwest  28.930379
              southeast  34.129552
              southwest  31.019841
       yes    northeast  29.560000
              northwest  29.983966
              southeast  33.650000
              southwest  31.502703

#### from the above pivote table we get that north side people have less bmi than south side people